.comment {
    width: 50%;
    padding: 2rem 3.5rem;
    background-color: hsl(0, 0%, 95%);
    margin: 1.5rem 0;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.comment__author {
    font-weight: bold;
}

.comment__text {
    padding: 1rem 0;
}

@media only screen and (max-width: 560px) {
    .comment__container{
        width: 85%;
    }
}

@media only screen and (max-width: 1050px) {
    .comment__container{
        width: 60%;
    }
}