.navigation__item {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
}

.navigation__item:hover {
    color: #F3BC5A;
    transition: color 0.2s linear;
    cursor: pointer;
}