.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filter__value {
    border: 1.5px solid #446083;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0.25rem 1rem;
    height: 2.5rem;
}

.filter__value:disabled {
    background-color: white;
}

.filter__icon-wrapper {
    border: 1.5px solid #446083;
    border-radius: 0 5px 5px 0;
    padding: 0 0.25rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s linear;
    background-color: white;
}

.filter__icon-wrapper:hover, .filter__genre:hover, .filter__icon-wrapper-switch:focus {
    cursor: pointer;
    background-color: #F3BC5A;
    transition: background-color 0.2s linear;
}

.filter__icon-wrapper-switch:focus > .filter__icon {
    transform: rotate(180deg);
}

.filter__icon-wrapper-switch:focus + .filter__genres, .filter__genres:hover {
    visibility: visible;
}

.filter__icon {
    transition: transform 0.2s ease;
}

.filter__genres {
    visibility: hidden;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    border: 1px solid #446083;
    max-height: 200px;
    overflow-y: scroll;
    background-color: white;
    z-index: 99;
    border-radius: 5px;
}

.filter__genre {
    text-align: center;
    padding: 0.25rem;
}

.search__container {
    position: relative;
}

.search {
    border: 1.5px solid #446083;
    border-radius: 50px;
    padding: 0.25rem 1rem;
    height: 2.5rem;
    width: 300px;
    transition: border-color 0.2s linear;
}

.search__icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0rem;
    right: 1rem;
}

.search__icon:hover {
    cursor: pointer;
}

.search:focus {
    outline: none;
    border-color: #F3BC5A;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .search {
        margin-bottom: 1rem;
    }
}