.input__label {
    color: #162436;
    display: inline-block;
    min-width: 175px;
}

.input {
    border: none;
    border-bottom: 2px solid hsl(0, 0%, 90%);
    padding: 0.5rem 0rem;
    font-size: 0.9rem;
    width: 200px;
    transition: border-color 0.2s linear;
}

.input:read-only {
    border: none;
}

.input:focus {
    outline: none;
    border-color:#F3BC5A;
    transition: border-color 0.2s linear;
}

.input--wrong {
    border-color: red;
}

.input--wrong:focus {
    border-color: red;
}

.input--right {
    border-color: green;
}

.input__error {
    width: 100%;
    text-align: left;
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}