.search {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.search__input {
    padding: 0.25rem 1rem;
    height: 2.5rem;
    border: 2px solid #446083;
    border-radius: 5px 0 0 5px;
    font-size: 0.9rem;
    width: 400px;
}

.search__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 0.5rem;
    border: 2px solid #446083;
    background-color: #446083;
    border-radius: 0 5px 5px 0;
}

.search__icon {
    --sds-c-icon-color-foreground-default: #ffffff;
}

.search__results {
    display: none;
    position: absolute;
    top: 2.75rem;
    left: 0;
    background-color: white;
    color: #162436;
    border-radius: 5px;
    width: 100%;
    z-index: 99;
    border: 1.25px solid #446083;
    max-height: 400px;
    overflow-y: scroll;
}

.search__result {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.2s linear;
    border-radius: 5px;
}

.search__input:focus + .search__results, .search__results:hover {
    display: block;
}

.search__result:hover {
    cursor: pointer;
    background: hsl(0, 0%, 90%);
    transition: background-color 0.2s linear;
}

.search__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__image {
    max-height: 5rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
    .search__input {
        width: 250px;
    }
}

@media only screen and (max-width: 375px) {
    .search__input {
        width: 95%;
    }
}