.breadcrumb {
    margin: 1rem;
}

.breadcrumb__link {
    color: black;
    text-decoration: none;
    transition: color 0.2s linear;
}

.breadcrumb__link:hover {
    cursor: pointer;
    color: #F3BC5A;
    transition: color 0.2s linear;
    text-decoration: none;
}

.breadcrumb__title {
    display: inline;
}

.breadcrumb__arrow {
    color: #F3BC5A;
}