.navigation {
    display: flex;
    height: 3rem;
    background-color: #446083;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.navigation__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__header:hover {
    cursor: pointer;
}

.navigation__title {
    color: #ffff;
    font-weight: bold;
    font-size: 1.75rem;
}

.navigation__logo {
    height: 3rem;
    width: auto;
}

.navigation__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__item {
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
    padding: 1rem;
}

.navigation__item:hover {
    color: #F3BC5A;
    transition: color 0.2s linear;
    cursor: pointer;
}

.navigation__href, .navigation__href:hover, .navigation__href:active, .navigation__href:visited {
    text-decoration: none;
}

.navigation__items-mobile {
    display: none;
    position: absolute;
    text-align: center;
    left: -100%;
    top: 3rem;
    width: 100%;
    background-color: #446083;
    z-index: 99;
    transition: transform 0.5s ease;
}

.navigation__icon {
    display: none;
    align-items: center;
    justify-content: center;
    --sds-c-icon-color-foreground-default: white;
}

@media only screen and (max-width: 700px) {
    .navigation__items {
        display: none;
    }

    .navigation__icon {
        display: flex;
    }

    .navigation__items-mobile {
        display: block;
    }
}

@media only screen and (max-width: 375px) {
    .navigation__title {
        display: none;
    }
}