.cart {
    min-height: calc(100vh - 64px - 24px);
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}

.cart__title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cart__header {
    font-weight: bold;
}

.cart__row {
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.cart__data {
    text-align: center;
    padding: 1rem;
}

.cart__quantity {
    border: none;
    background: none;
    font-size: 1.5rem;
    transition: color 0.2s linear;
}

.cart__quantity:hover {
    color: #F3BC5A;
    transition: color 0.2s linear;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons__button {
    margin: 2rem 1rem;
    background-color: transparent;
    border: 1.5px solid #F3BC5A;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: background-color 0.2s linear;
}

.buttons__button-clear {
    border-color: red;
}

.buttons__button:hover {
    cursor: pointer;
    background-color: #F3BC5A;
    transition: background-color 0.2s linear;
}

.buttons__button-clear:hover {
    background-color: red;
}

.empty {
    min-height: calc(100vh - 64px - 24px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    transform: translateY(-64px)
}

.empty__text {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.75rem;
}
