.books__grid {
    display: grid;
    padding: 1rem;
    gap: 2rem 2rem;
    width: 100%;
    grid-template: auto / 1fr 1fr 1fr;
    justify-content: center;
}

.books__filter {
    border-bottom: 1.5px solid hsl(0, 0%, 90%);
    padding-bottom: 1rem;
}

.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pagination__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__number:first-child {
    background-color: #F3BC5A;
}

.pagination__number {
    background-color: white;
    border: 1px solid lightgray;
    transition: background-color 0.2s linear;
}

.pagination__number:hover {
    background-color: #F3BC5A !important;
    transition: background-color 0.2s linear;
}

.pagination__button {
    background-color: white;
    border: 1px solid lightgray;
    transition: background-color 0.2s linear;
    margin: 0 0.25rem;
}

.pagination__button:hover {
    background-color: #F3BC5A;
    transition: background-color 0.2s linear;
}
