.books__container {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.books__grid {
    display: grid;
    padding: 1rem;
    gap: 2rem 2rem;
    width: 100%;
    grid-template: auto / 1fr 1fr 1fr;
    justify-content: center;
}

.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.pagination__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__number:first-child {
    background-color: #F3BC5A;
}

.pagination__number {
    background-color: white;
    border: 1px solid lightgray;
    transition: background-color 0.2s linear;
    padding: 0.5rem;
}

.pagination__number:hover {
    background-color: #F3BC5A !important;
    transition: background-color 0.2s linear;
}

.pagination__button {
    background-color: white;
    border: 1px solid lightgray;
    transition: background-color 0.2s linear;
    margin: 0 0.25rem;
    padding: 0.5rem;
}

.pagination__button:hover {
    background-color: #F3BC5A;
    transition: background-color 0.2s linear;
}

@media only screen and (max-width: 1050px) {
    .books__grid {
        grid-template: auto / 1fr  1fr;
    }
}

@media only screen and (max-width: 730px) {
    .books__grid {
        grid-template: auto / 1fr;
    }
}
