.filter {
    background: none;
    border: 1.5px solid #F3BC5A;
    transition: background-color 0.2s linear;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.5rem;
}

.filter:hover {
    cursor: pointer;
    background-color: #F3BC5A;
    transition: background-color 0.2s linear;
}

.filter:focus {
    background-color: #F3BC5A;
}