.track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.track__line {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border: 2px solid lightgray;
    position: relative;
    border-left: 0;
    border-right: 0;
    width: 500px;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.track__line::after {
    content: '';
    width: 50%;
    height: 0px;
    border: 2px solid transparent;
    position: absolute;
}

.track__dot {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.track__label {
    transform: translateY(2rem);
    white-space: nowrap;
}

.track__dot--realized {
    background-color: lightgreen;
}

.track__half-realized::after {
    border-color: lightgreen;
}

.track__dot--realized {
    border-color: lightgreen;
}

.track__line--red {
    border-color: red;
}

.track__dot--red {
    background-color: red;
}